# Nigeria COVID-19 Data Prep Tool

### 0. Import Python module

In [1]:
# import modules
import datetime
from datetime import date

import numpy as np
import pandas as pd

import geopandas as gpd
from geopandas import GeoDataFrame as gdf

import fiona
import json

import lxml
import requests
from datetime import date
from bs4 import BeautifulSoup

### 1. Scrape data from website

In [2]:
# make request to website for data
res = requests.get('https://covid19.ncdc.gov.ng/')
status_code = res.status_code
text = res.text

if status_code == 200:
    soup = BeautifulSoup(text, 'lxml')
    table_html = soup.find_all('table', {'id':'custom1'})
    table_df = pd.read_html(str(table_html))[0]
    table_df = table_df.rename(columns={'States Affected': 'STATE', 'No. of Cases (Lab Confirmed)': 'CASES', 'No. of Cases (on admission)': 'HOSPITALISED', 'No. Discharged': 'RECOVERED', 'No. of Deaths': 'DEATHS'})
    
    # export table2 to csv
    # file_name = "ncdc_covid_"+ str(date.today()) +".csv"
    # table_df.to_csv(file_name, index=False, encoding='utf-8')
    # print(table_df)
else:
    print("Unable to fetch data from URL.")

In [3]:
# read states shapefile data
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

# select columns
states_shp_df = states_shp_df[["OBJECTID", "CODE", "STATE", "ADMIN_NAME", "GEO_ZONE", "AREA_SQKM", "POP_2016", "CENTER_Y", "CENTER_X",  "SCREENED", "ACTIVE", "geometry"]]

# merge dataframes
df = pd.merge(states_shp_df, table_df, on='STATE', how='outer')

# remove NAN
df['CASES'] = df['CASES'].replace(np.nan, 0)
df['HOSPITALISED'] = df['HOSPITALISED'].replace(np.nan, 0)
df['RECOVERED'] = df['RECOVERED'].replace(np.nan, 0)
df['DEATHS'] = df['DEATHS'].replace(np.nan, 0)

# change columns data type
df = df.astype({"CASES": int, "HOSPITALISED": int, "RECOVERED": int, "DEATHS": int})

# reorder columns
df = df[["OBJECTID", "CODE", "STATE", "ADMIN_NAME", "GEO_ZONE", "AREA_SQKM", "POP_2016", "CENTER_Y", "CENTER_X", "CASES", "HOSPITALISED", "RECOVERED", "DEATHS", "SCREENED", "ACTIVE", "geometry"]]

# convert dataframe to geodataframe
gdf = gpd.GeoDataFrame(df, geometry='geometry')

# set projection
gdf.crs = "EPSG:4326"

# export to shp
gdf.to_file("../data/shp/ncdc-covid19-states.shp")

# view data
gdf.head()

,OBJECTID,CODE,STATE,ADMIN_NAME,GEO_ZONE,AREA_SQKM,POP_2016,CENTER_Y,CENTER_X,CASES,HOSPITALISED,RECOVERED,DEATHS,SCREENED,ACTIVE,geometry
0,1,NG001,Abia,Abia State,South East,4858.882335,3644714,5.453302,7.523190,400,179,218,3,0,179,"POLYGON ((7.38681 6.03667, 7.38729 6.03605, 7...."
1,2,NG002,Adamawa,Adamawa State,North East,37924.987860,4145684,9.323227,12.400241,100,22,71,7,2,21,"POLYGON ((13.61319 10.94940, 13.62129 10.94823..."
2,3,NG003,Akwa Ibom,Akwa Ibom State,South South,6723.202769,5353609,4.907245,7.846395,112,38,71,3,1,38,"POLYGON ((7.71063 5.51935, 7.71123 5.51647, 7...."
3,4,NG004,Anambra,Anambra State,South East,4807.933352,5425334,6.222776,6.932186,93,27,57,9,0,7,"POLYGON ((6.93254 6.71090, 6.93167 6.69870, 6...."
4,5,NG005,Bauchi,Bauchi State,North East,48496.400510,6386388,10.796647,9.990588,519,9,497,13,27,19,"POLYGON ((10.70550 12.47328, 10.73164 12.46543..."

### 2. Prep States SHP data

In [4]:
# read states shapefile data
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

# calculate number of ACTIVE cases
states_shp_df['ACTIVE'] = states_shp_df['CASES'] - (states_shp_df['RECOVERED'] + states_shp_df['DEATHS'])

# reorder columns
states_shp_df = states_shp_df[["OBJECTID", "CODE", "STATE", "ADMIN_NAME", "GEO_ZONE", "AREA_SQKM", "POP_2016", "CENTER_Y", "CENTER_X", "CASES", "DEATHS", "RECOVERED", "ACTIVE", "SCREENED", "geometry"]] 

# export to shp
states_shp_df.to_file("../data/shp/ncdc-covid19-states.shp")

# export to geojson
states_shp_df.to_file("../data/geojson/ncdc-covid19-states.geojson", driver='GeoJSON')

# export to csv
states_shp_df.rename(columns={'CENTER_Y':'LAT', 'CENTER_X':'LONG'}, inplace=True)
states_shp_df.drop('geometry',axis=1).to_csv("../data/csv/ncdc-covid19-states.csv") 

# export to json
states_shp_df = pd.read_csv("../data/csv/ncdc-covid19-states.csv", index_col=0)
states_shp_df.to_json("../data/json/ncdc-covid19-states.json", orient='records')

# view data
states_shp_df.head()

,OBJECTID,CODE,STATE,ADMIN_NAME,GEO_ZONE,AREA_SQKM,POP_2016,LAT,LONG,CASES,DEATHS,RECOVERED,ACTIVE,SCREENED
0,1,NG001,Abia,Abia State,South East,4858.882335,3644714,5.453302,7.523190,400,3,218,179,0
1,2,NG002,Adamawa,Adamawa State,North East,37924.987860,4145684,9.323227,12.400241,100,7,71,22,2
2,3,NG003,Akwa Ibom,Akwa Ibom State,South South,6723.202769,5353609,4.907245,7.846395,112,3,71,38,1
3,4,NG004,Anambra,Anambra State,South East,4807.933352,5425334,6.222776,6.932186,93,9,57,27,0
4,5,NG005,Bauchi,Bauchi State,North East,48496.400510,6386388,10.796647,9.990588,519,13,497,9,27

### 3. Prep DAILYUPDATES csv data

In [5]:
# load dailyupdates csv data
df = pd.read_csv("../data/csv/ncdc-covid19-dailyupdates.csv")

# read states shapefile data
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

values = []

# todays date
today_date = date.today().strftime("%m/%d/%Y")
values.append(str(today_date))

# delete new_row if exists
if str(today_date) in df.index:
    df.drop(str(today_date))

# values
prev_cases = int(df[-1:]['TOTAL CONFIRMED'])
prev_deaths = int(df[-1:]['DEATHS'])
prev_recovered = int(df[-1:]['RECOVERED'])

# TOTAL CASES
total_cases = sum(states_shp_df['CASES'])
values.append(total_cases)

# NEW CASES
new_cases = total_cases - prev_cases
values.append(new_cases)

# TOTAL ACTIVE
total_active = sum(states_shp_df['ACTIVE'])
values.append(total_active)

# TOTAL DEATHS
total_deaths = sum(states_shp_df['DEATHS'])
values.append(total_deaths)

# TOTAL RECOVERED
total_recovered = sum(states_shp_df['RECOVERED'])
values.append(total_recovered)

# DAILY DEATHS
new_deaths = total_deaths - prev_deaths
values.append(new_deaths)

# DAILY RECOVERED
new_recovered = total_recovered - prev_recovered
values.append(new_recovered)

# add new row to df
df.loc[len(df)] = values

# export to csv
df.to_csv('../data/csv/ncdc-covid19-dailyupdates.csv', index=False)

# view data
df.tail()

,DATE,TOTAL CONFIRMED,NEW CASES,ACTIVE CASES,DEATHS,RECOVERED,DAILY DEATHS,DAILY RECOVERED
128,07/04/2020,28167,603,16071,634,11462,6,393
129,07/05/2020,28711,544,16401,645,11665,11,203
130,07/06/2020,29281,570,16803,653,11825,8,160
131,07/07/2020,29789,508,17012,669,12108,16,283
132,07/09/2020,30249,460,17195,684,12370,15,262

### 4. Prep States Daily CASES csv data

In [6]:
# update daily cases from shapefile
df = pd.read_csv("../data/csv/ncdc-covid19-states-daily-cases.csv", index_col=0)
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

# todays date
today_date = date.today().strftime("%m/%d/%Y")

# delete new_row if exists
if str(today_date) in df.index:
    df.drop(str(today_date))
    
# create array of all new cases
values = []
for index, row in states_shp_df.iterrows():
    # values.append(str(today_date))
    values.append(row['CASES'])

# add new row to df
df.loc[str(today_date)] = values

# convert the 'Date' column to datetime format 
df = df.reset_index()
df['Date']= pd.to_datetime(df['Date']) 

# export to csv
df.to_csv('../data/csv/ncdc-covid19-states-daily-cases.csv', index=False)

# view data
df.tail()

,Date,Abia,Adamawa,Akwa Ibom,Anambra,Bauchi,Bayelsa,Benue,Borno,Cross River,...,Ogun,Ondo,Osun,Oyo,Plateau,Rivers,Sokoto,Taraba,Yobe,Zamfara
128,2020-07-04,383,89,104,73,516,234,97,528,0,...,974,410,165,1466,421,1181,153,19,61,76
129,2020-07-05,385,99,112,73,516,245,97,528,0,...,1005,456,165,1513,436,1183,153,22,61,76
130,2020-07-06,391,99,112,73,516,268,97,547,0,...,1047,474,178,1530,454,1205,153,22,61,76
131,2020-07-07,400,99,112,73,516,269,121,555,5,...,1050,550,198,1530,460,1235,153,27,61,76
132,2020-07-09,400,100,112,93,519,282,121,563,5,...,1057,550,210,1573,478,1284,153,27,61,76

### 5. Prep States Daily RECOVERED csv data

In [7]:
# update daily cases from shapefile
df = pd.read_csv("../data/csv/ncdc-covid19-states-daily-recovered.csv", index_col=0)
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

# todays date
today_date = date.today().strftime("%m/%d/%Y")

# delete new_row if exists
if str(today_date) in df.index:
    df.drop(str(today_date))

# create array of all new cases
values = []
for index, row in states_shp_df.iterrows():
    values.append(row['RECOVERED'])

# add new row to df
df.loc[str(today_date)] = values

# export to csv
df.to_csv('../data/csv/ncdc-covid19-states-daily-recovered.csv')

# view data
df.tail()

,Abia,Adamawa,Akwa Ibom,Anambra,Bauchi,Bayelsa,Benue,Borno,Cross River,Delta,...,Ogun,Ondo,Osun,Oyo,Plateau,Rivers,Sokoto,Taraba,Yobe,Zamfara
Date,,,,,,,,,,,,,,,,,,,,,
07/04/2020,218,52,54,57,471,127,33,437,0,407,...,636,115,59,809,219,746,125,10,48,71
07/05/2020,218,52,71,57,472,127,33,437,0,407,...,637,117,59,809,219,765,125,10,48,71
07/06/2020,218,71,71,57,475,127,33,446,0,407,...,641,124,59,809,219,794,125,10,51,71
07/07/2020,218,71,71,57,485,137,35,448,3,407,...,652,124,84,811,241,796,125,11,51,71
07/09/2020,218,71,71,57,497,141,35,453,3,454,...,663,124,84,811,241,836,135,11,51,71

### 6. Prep States Daily DEATHS csv data

In [8]:
# update daily cases from shapefile
df = pd.read_csv("../data/csv/ncdc-covid19-states-daily-deaths.csv", index_col=0)
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

# todays date
today_date = date.today().strftime("%m/%d/%Y")

# delete new_row if exists
if str(today_date) in df.index:
    df.drop(str(today_date))

# create array of all new cases
values = []
for index, row in states_shp_df.iterrows():
    values.append(row['DEATHS'])

# add new row to df
df.loc[str(today_date)] = values

# export to csv
df.to_csv('../data/csv/ncdc-covid19-states-daily-deaths.csv')

# view data
df.tail()

,Abia,Adamawa,Akwa Ibom,Anambra,Bauchi,Bayelsa,Benue,Borno,Cross River,Delta,...,Ogun,Ondo,Osun,Oyo,Plateau,Rivers,Sokoto,Taraba,Yobe,Zamfara
Date,,,,,,,,,,,,,,,,,,,,,
07/04/2020,3,6,2,9,12,15,5,33,0,25,...,21,20,7,14,12,39,16,0,8,5
07/05/2020,3,7,3,9,12,16,5,33,0,25,...,21,20,7,19,12,41,16,0,8,5
07/06/2020,3,7,3,9,12,16,5,33,0,25,...,21,20,7,19,14,41,16,0,8,5
07/07/2020,3,7,3,9,12,16,6,34,1,25,...,21,20,7,19,14,43,16,0,8,5
07/09/2020,3,7,3,9,13,17,6,35,1,31,...,22,20,7,19,14,44,16,0,8,5